*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-text-color: #3E3751
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-title{
    font-size: 32px;
    font-weight: bolder;
}
.G{
    color: #FF42A5;
}

.logo img{
    margin-right: 20px;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.menu li{
    padding: 20px;
}
.menu li a{
 color: var(--primary-text-color);
 font-size: 20px;
 font-weight: bold;
}
.follow-us{
    background-color: #E7E6E9;
    border-radius: 10px;
    
}
.fa-youtube{
    color: red;
    margin: 0 10px;
}

/* banner style */
.banner-container{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.banner-content, .banner-image{
    width: 50%;
}
.banner-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;  
}
.banner-title{
    font-size: 38px;
    margin-bottom: 20px;
}
.goat{
    background: -webkit-linear-gradient(#B952D6, #FF42A5);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 58px;
   
}
.fa-play , .fa-download, .fa-user{
    color: #FF42A5;
    margin-right: 10px;
}
.banner-list li{
    margin-bottom: 15px;
    color: var(--primary-text-color);
    font-weight: bold;
}
.banner-content button{
    padding: 15px 40px;
    color: white;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
}
.sign-in-btn{
    background-color: #FF42A5;
    margin-right: 20px;
}
.go-rogue-btn{
    background-color: #4EC5F7;
}
.banner-image{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
.banner-image img{
    height: 90%;
    width: 90%;
  
}
/* responsive Style */
/* Responsive For small device */
@media screen and (max-width:576px) {
  
    nav{
        padding:20px 0px;
        flex-direction: column;
        text-align: center;
    }
    .menu ul{
        flex-direction: column;
        gap: 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 20px;
        height: auto;
        gap: 50px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-image{
        width: 100%;
        justify-content: center;

    }
    .sign-in-btn{
        margin-right: 5px;
    }
  
}

/* Responsive for medium device */
@media screen and (min-width:576px) and (max-width:993px) {
     nav{
        padding: 20px ;
        flex-direction: column;
        text-align: center;
        gap: 20px;
     }
     
     .banner-container{
        flex-direction: column-reverse;
        padding: 20px;
        height: auto;
        gap: 50px;
    }
    .banner-content{
        width: 100%;
        padding: 50px 0;
    }
    .banner-image{
        width: 100%;
        justify-content: center;

    }
}